
<td>
    <div class="form-horizontal {{#error}}has-error{{/error}}">
        <div class="form-group">
    
        <label class="control-label col-sm-3 col-md-3 col-lg-2">{{verbose}}</label>
    
    {{#control}}
    <!-- data-type-name={{type.name}} data-type-range="{{type.range}}" data-allow-null="{{allowNull}}" data-default-value="{{defaultValue}}" -->

    <div class="{{#text}}col-sm-5 col-md-4 col-lg-3{{/text}}{{#file}}col-sm-5 col-md-4 col-lg-3{{/file}}{{#date}}col-sm-5 col-md-4 col-lg-3{{/date}}{{#select}}col-sm-5 col-md-4 col-lg-3{{/select}}{{#textarea}}{{#editor}}col-sm-9 col-md-9 col-lg-10{{/editor}}{{/textarea}}{{#textarea}}{{^editor}}col-sm-7 col-md-6 col-lg-5{{/editor}}{{/textarea}}">

    {{#text}}
    <input type="text" name="{{key}}" value="{{value}}" class="form-control" />
    {{/text}}

    {{#textarea}}
    <textarea name="{{key}}" rows="8" cols="1" class="form-control {{#editor}}{{editor}}{{/editor}}">{{value}}</textarea>
    {{/textarea}}

    {{#select}}
    <select name="{{key}}" class="chosen-select form-control" data-placeholder="Select" {{#multiple}}multiple="multiple"{{/multiple}}>
        <option value="NULL" {{#selected}}selected="selected"{{/selected}}></option>
        {{!oneToMany}}
        {{#value}}
        <option value="{{__pk}}" {{#selected}}selected="selected"{{/selected}}>{{__text}}</option>
        {{/value}}
    </select>
    {{/select}}

    {{#date}}
    <input type="text" name="{{key}}" value="{{value}}" class="datepicker form-control" autocomplete="off" />
    {{/date}}
    {{#time}}
    <input type="text" name="{{key}}" value="{{value}}" class="timepicker form-control" autocomplete="off" />
    {{/time}}
    {{#datetime}}
    <input type="text" name="{{key}}" value="{{value}}" class="datetimepicker form-control" autocomplete="off" />
    {{/datetime}}
    {{#year}}
    <input type="text" name="{{key}}" value="{{value}}" class="yearpicker form-control" autocomplete="off" />
    {{/year}}

    {{#file}}
    <input type="text" name="{{key}}" value="{{value}}" class="form-control" />
    {{/file}}

    {{#error}}
    <strong class="help-block" data-error="{{type}}">{{message}}</strong>
    {{/error}}

    {{#hidden}}
    <input type="hidden" name="{{key}}" value="{{value}}" />
    {{/hidden}}

    </div>
    {{#date}}
    <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="#" class="btn-today">{{string.today}}</a>
    </div>
    {{/date}}
    {{#file}}
    <div class="col-sm-4 col-md-4 col-lg-4">
        <input type="file" name="{{key}}" value="{{value}}" />
    </div>
    {{/file}}

    {{/control}}
        </div>
    </div>
</td>
