
<h2><a href="#datepicker" name="datepicker">Datepicker</a></h2>

<!-- CONFIG -->

<div class="box">
    <h4>Config</h4>
    <p>In <em>settings.json</em> change the column's control type to <em>date</em> </p>

<!-- code -->
<pre><code class="language-javascript">"control": {
    "date": true
}</code></pre>
<!-- code -->
</div>

<!-- RESULT -->

<div class="box">
    <h4>Result <a href="#" class="btn-info">expand</a></h4>
    <div class="info">
        <iframe class="example-datepicker" data-src="examples/datepicker.html" src="about:blank"></iframe>
    </div>
</div>
