
<h2><a href="#multiple" name="multiple">Multiple Editors</a></h2>

<!-- INSTALL -->

<div class="box visible">
    <h4>Install</h4>
    <ul>
        <li>Download CKEditor from <a href="http://ckeditor.com/" target="_blank">ckeditor.com</a></li>
        <li>Download TinyMCE from <a href="http://www.tinymce.com/" target="_blank">tinymce.com</a> (the jQuery package)</li>
        <li>Extract them somewhere on your hard drive</li>
        <li>Alternatively you can use <a href="http://cdnjs.com/" target="_blank">cdnjs.com</a>, just paste the provided path inside the <em>js</em> array.</li>
    </ul>
</div>

<!-- CONFIG -->

<div class="box">
    <h4>Config <a href="#" class="btn-info">expand</a></h4>
    <p>In <em>settings.json</em> specify the type of editor to use for each column</p>

    <div class="col col3">
<!-- code -->
<pre><code class="language-javascript">"control": {
    "textarea": true,
    "editor": "ck-full"
}</code></pre>
<!-- code -->
    </div>
    <div class="col col3">
<!-- code -->
<pre><code class="language-javascript">"control": {
    "textarea": true,
    "editor": "ck-compact"
}</code></pre>
<!-- code -->
    </div>
    <div class="col col3">
<!-- code -->
<pre><code class="language-javascript">"control": {
    "textarea": true,
    "editor": "tinymce"
}</code></pre>
<!-- code -->
    </div>
    <p>In <em>custom.json</em> add a unique key for your custom stuff</p>
    <div class="col col1">
<!-- code -->
<pre><code class="language-javascript">"unique-key-here": {
    "public": {
        "path": "/absolute/path/to/custom/files/location",
        "js": [
            "//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js",
            "/relative/to/above/path/tinymce/jscripts/tiny_mce/tiny_mce.js",
            "/relative/to/above/path/tinymce/jscripts/tiny_mce/jquery.tinymce.min.js",
            "/relative/to/above/path/my-custom.js"
        ]
    }
}</code></pre>
<!-- code -->
    </div>
    <div class="info">
        <ul>
            <li><strong>public</strong> - information about static files
                <ul>
                    <li><i>path</i> - absolute path to the static files location</li>
                    <li><i>css</i> - list of stylesheet files to be included</li>
                    <li><i>js</i> - list of javascript files to be included</li>
                </ul>
            </li>
        </ul>
        <p>Take a look at the the <a href="https://github.com/simov/express-admin-examples" target="_blank">examples repository</a></p>
    </div>
</div>

<div class="box">
    <h4>Javascript <a href="#" class="btn-info">expand</a></h4>
    <p>Add this code to <em>my-custom.js</em></p>

    <div class="col col1">
<!-- code -->
<pre><code class="language-javascript">$(function () {
    if (typeof CKEDITOR !== 'undefined') {
        CKEDITOR.replaceAll(function (textarea, config) {
            // exclude textareas that are inside hidden inline rows
            if ($(textarea).parents('tr').hasClass('blank')) return false;
            // textareas with this class name will get the default configuration
            if (textarea.className === 'ck-full') return true;
            // textareas with this class name will have custom configuration
            if (textarea.className === 'ck-compact')
                return setCustomConfig(config);
            // all other textareas won't be initialized as ckeditors
            return false;
        });
    }
    
    if (typeof tinyMCE !== 'undefined') {
        // it's important to initialize only the visible textareas
        $('tr:not(.blank) .tinymce').tinymce({});
    }
});

// ckeditor only
function setCustomConfig (config) {
    config = config || {};
    // toolbar
    config.toolbarGroups = [
        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
        { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align' ] },
        '/',
        { name: 'styles' },
        { name: 'colors' }
    ];
    config.removeButtons = 'Smiley,SpecialChar,PageBreak,Iframe,CreateDiv';
    return config;
}

// executed each time an inline is added
function onAddInline (rows) {
    if (typeof CKEDITOR !== 'undefined') {
        // for each of the new rows containing textareas
        $('textarea', rows).each(function (index) {
            // get the DOM instance
            var textarea = $(this)[0];
            // textareas with this class name will get the default configuration
            if (textarea.className === 'ck-full') return CKEDITOR.replace(textarea);
            // textareas with this class name will have custom configuration
            if (textarea.className === 'ck-compact')
                return CKEDITOR.replace(textarea, setCustomConfig());
            // all other textareas won't be initialized as ckeditors
            return false;
        });
    }

    if (typeof tinyMCE !== 'undefined') {
        // init tinymce editors
        $('.tinymce', rows).tinymce({});
    }
}</code></pre>
<!-- code -->
    </div>
    <div class="info">
        <p>For a full list of all editor's options go to their official sites: <a href="http://ckeditor.com/" target="_blank">ckeditor.com</a>, <a href="http://www.tinymce.com/" target="_blank">tinymce.com</a></p>
        <p>Take a look at the the <a href="https://github.com/simov/express-admin-examples" target="_blank">examples repository</a></p>
        <p>The example also includes a custom app that shows how to <em>upload images</em> from inside the ckeditor!</p>
    </div>
</div>
