
<h2><a href="#textarea" name="textarea">Textarea</a></h2>

<!-- CONFIG -->

<div class="box">
    <h4>Config</h4>
    <p>In <em>settings.json</em> change the column's control type to <em>textarea</em> </p>

<!-- code -->
<pre><code class="language-javascript">"control": {
    "textarea": true
}</code></pre>
<!-- code -->
</div>

<!-- RESULT -->

<div class="box">
    <h4>Result <a href="#" class="btn-info">expand</a></h4>
    <div class="info">
        <iframe class="example-textarea" data-src="examples/textarea.html" src="about:blank"></iframe>
    </div>
</div>
