
<div class="navbar navbar-fixed-top navbar-inverse">
    <div id="navbar" class="container">
        <div class="navbar-header">
            <a href="{{root}}/" class="navbar-brand">{{string.logo}}</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="top-nav" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                {{#layouts}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{string.layout}} <b class="caret"></b></a>
                    <ul id="x-layout" class="dropdown-menu">
                        <li class="active"><a href="#fixed">{{string.centered}}</a></li>
                        <li><a href="#fluid">{{string.streched}}</a></li>
                    </ul>
                </li>
                {{/layouts}}

                {{#themes}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{string.theme}} <b class="caret"></b></a>
                    <ul id="x-theme" class="dropdown-menu">
                        {{#theme}}
                        <li><a href="#{{key}}">{{name}}</a></li>
                        {{/theme}}
                    </ul>
                </li>
                {{/themes}}

                {{#languages}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{string.language}} <b class="caret"></b></a>
                    <ul id="x-lang" class="dropdown-menu">
                        {{#language}}
                        <li><a href="#{{key}}">{{name}}</a></li>
                        {{/language}}
                    </ul>
                </li>
                {{/languages}}

                {{#user}}
                <li><a href="{{root}}/logout">{{string.logout}} <strong>{{name}}</strong></a></li>
                {{/user}}
            </ul>
        </div>
    </div>
</div>
