
<h2>
    {{string.select}} {{view.name}} {{string.to-change}}.
    <a href="{{root}}/{{view.slug}}/add" class="btn btn-default">{{string.add}} {{view.name}}</a>
</h2>

{{#show.success}}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{string.success}}:</strong> {{string.saved}}.
</div>
{{/show.success}}

{{#show.error}}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{string.error}}:</strong> {{show.error}}.
</div>
{{/show.error}}

<div class="panel panel-default x-filter">
    <div class="panel-heading">
        <h3 class="panel-title">{{string.filter}}</h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal {{#error}}has-error{{/error}}">
            {{#filter}}
            <div class="form-group">
                {{#row}}
                    {{>column}}
                {{/row}}
            </div>
            {{/filter}}
        </div>
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-default form-control" name="action[filter]">{{string.filter}}</button>
    </div>
</div>

<table class="table table-bordered table-striped table-hover ex-table">
    <thead>
        <tr class="label-default">
        {{#columns}}
            <th>{{.}}</th>
        {{/columns}}
        </tr>
    </thead>
    <tbody>
    {{#records}}
        <tr>
        {{#pk}}
            <td><a href="{{root}}/{{view.slug}}/{{id}}">{{text}}</a></td>
        {{/pk}}
        {{#values}}
            <td>
                {{^mtm}}{{.}}{{/mtm}}
                {{#mtm}}<span class="label label-default">{{.}}</span>{{/mtm}}
            </td>
        {{/values}}
        </tr>
    {{/records}}
    </tbody>
</table>

{{>pagination}}
