
{{#show.error}}
<div class=" col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{show.error}}</strong>
    </div>
</div>
{{/show.error}}

<form id="login" class="form-horizontal col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" method="post" action="{{root}}/login">
    <fieldset>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="label-default">{{string.login}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{!username}}
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4">{{string.username}}:</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" name="username" value="{{username}}" class="form-control" autofocus />
                            </div>
                        </div>
                        {{!password}}
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-4 col-lg-4">{{string.password}}:</label>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="password" name="password" value="" class="form-control" />
                            </div>
                        </div>
                        {{!submit}}
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-8 col-lg-offset-4">
                                <input type="submit" value="{{string.login}}" class="btn btn-default" />
                                <input type="hidden" name="_csrf" value="{{csrf}}" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
