
<nav id="navigation">
    <ul class="nav">
        <li>Express What?
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#install">Install</a></li>
                <li><a href="#settings">Settings</a></li>
            </ul>
        </li>
        <li>Relationships
            <ul>
                <li><a href="#one-to-many">One to Many</a></li>
                <li><a href="#many-to-many">Many to Many</a></li>
                <li><a href="#one-to-one">One to One</a></li>
                <li><a href="#many-to-one">Many to One</a></li>
                <li><a href="#all-together">All Together</a></li>
            </ul>
        </li>
        <li>UI
            <ul>
                <li><a href="#themes">Themes</a></li>
                <li><a href="#datepicker">Datepicker</a></li>
                <li><a href="#textarea">Textarea</a></li>
                <li><a href="#ckeditor">CKEditor</a></li>
                <li><a href="#tinymce">TinyMCE</a></li>
                <li><a href="#multiple">Multiple Editors</a></li>
            </ul>
        </li>
        <li>Custom Views
            <ul>
                <li><a href="#custom">Config</a></li>
            </ul>
        </li>
        <li>Misc
            <ul>
                <li><a href="#nginx">Nginx</a></li>
                <li><a href="#apache">Apache</a></li>
                <li><a href="#scripts">Scripts</a></li>
            </ul>
        </li>
    </ul>
</nav>
