@font-face {
    font-family: 'LeagueGothic';
    src: url('../../font/LeagueGothic-Regular-webfont.eot');
    src: url('../../font/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('../../font/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('../../font/LeagueGothic-Regular-webfont.svg#LeagueGothic-Regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Floralia';
    src: url('../../font/Floralia-webfont.eot');
    src: url('../../font/Floralia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/Floralia-webfont.woff') format('woff'),
         url('../../font/Floralia-webfont.ttf') format('truetype'),
         url('../../font/Floralia-webfont.svg#Floralia-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body { background: fixed url(images/bg.png) repeat 0 0; font-family: Arial, Helvetica, Sans-Serif; font-size: 14px; line-height: 19px; color: #333; }
ul { list-style: none; }
ul li:before { font-size: 14px; content: '-'; padding-right: 5px; }
ul li ul { padding: 0 0 0 10px; }
ul li ul li:before { font-size: 16px; content: '∘'; padding-top: 2px; }
ul li ul li ul li:before { font-size: 14px; content: '▫'; }
a { text-decoration: none; color: #292D7E; }
a:hover { color: #f92672; }
em { background: #cacaca; color: #1C490E; font-style: normal; border-radius: 3px; padding: 0 3px; }

/*common*/

#content { width: 750px; margin: 0 auto; }
#content iframe { width: 100%; border: 0; }
#content h2 { font-family: 'LeagueGothic', Arial; font-size: 38px; line-height: 38px; font-weight: normal; text-align: center; margin-bottom: 15px; }
#content h2 a { color: #75715e; text-shadow: 0px 0px 3px #cacaca; }
#content h2 a:before,
#content h2 a:after { font-family: 'Floralia', Arial; font-size: 55px; color: #cacaca; position: relative; bottom: -15px; }
#content h2 a:before { content: 'T'; }
#content h2 a:after { content: 'U'; }

#content article { padding: 45px 0 0 0; }
article ul > li { padding: 0 0 5px 0; }
article ul > li li { padding: 0; }

.box { background: #f8f8f2; overflow: hidden; box-shadow: 0px 0px 10px #cacaca; padding: 10px 20px; margin: 0 0 10px 0; }
.box h4 { font-size: 12px; line-height: 15px; color: #75715e; }
.box h4 a { float: right; color: #75715e; font-weight: normal; }
.box h4 a:hover { color: #333; }
.box p { padding: 0 0 10px 0; }
.box .col { float: left; font-size: 14px; }
.box .col pre { overflow: hidden; }
.box .col1 { width: 100%; float: none; clear: both; }
.box .col2 { width: 50%; }
.box .col3 { width: 33%; }
.box .col4 { width: 66%; }

.btn-info { color: #292D7E !important; }
.info { clear: both; display: none; }
.info > ul { padding-bottom: 5px; }
.info > ul:last-child { padding: 0; }
.visible .info { display: block; }

.end { font-family: 'Floralia', Arial; font-size: 20px; line-height: 43px; color: #cacaca; text-align: center; }
.end p:after { content: 'l'; }

/*example iframes*/
.example-datepicker { height: 270px; }
.example-textarea { height: 240px; }
.example-ckeditor { height: 325px; }
.example-tinymce { height: 220px; }
.example-themes { height: 700px; }

.example-one-to-many { height: 300px; }
.example-many-to-many { height: 380px; }
.example-one-to-one { height: 625px; }
.example-many-to-one { height: 800px; }




/*navigation*/

#navigation { position: fixed; top: 109px; right: 3%; z-index: 1; cursor: default; background: #f8f8f2; box-shadow: 0px 0px 10px #cacaca; padding: 10px; }
#navigation ul { list-style: none; text-align: center; }
#navigation li { font-weight: bold; padding: 10px 0 0 0; }
#navigation li:before { content: ''; padding: 0; }
#navigation li:first-child { padding: 0; }
#navigation a { color: #333; }
#navigation a:hover { color: #292D7E; }
#navigation li.active a { color: #f92672; }
#navigation li ul { padding: 0; }
#navigation li ul li { font-weight: normal; padding: 0; }
#navigation li ul li a { color: #333; }

/*prism*/
code[class*="language-"] { padding: 0; }
pre[class*="language-"] { background: none; line-height: 17px; padding: 0 0 5px 0; margin: 0; }

@media (min-width: 900px) {
    
}

@media (max-width: 900px) {
    #forkme-badge { display: none; }
}

/*prefixes*/
#navigation {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*custom scrollbars in WebKit*/
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track-piece {
    background: #333;
    -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background: #bbb;
    -webkit-border-radius: 8px;
    outline: 2px solid #333;
    outline-offset: -2px;
    border: 2px solid #333;
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #ddd;
    -webkit-border-radius: 8px;
}
