
/*express-admin*/
#express-admin {  }
#express-admin h2 .btn { font-weight: normal; float: right; margin-top: 5px; }

/*content*/
@media (min-width: 980px) {
	#top-nav { float: right; }
	#content { padding-top: 70px; }
}

/*login*/
.login-error { width: 314px; margin-left: auto; margin-right: auto; }
#login { width: 367px; margin: 0 auto; }
#login .control-label { width: 110px; }
#login .controls { margin-left: 130px; }
#login table .label-inverse { color: #f8f8f2; }
#login .btn { float: left; }
#login .remember { float: right; padding-top: 5px; }
#login .remember input { position: relative; z-index: 1; top: -3px; }

/*mainview layout*/


/*listview layout*/


/*editview tables*/
.ex-table {  }
.ex-table tfoot td { padding-top: 0; padding-bottom: 0; }
.ex-table tfoot td { text-align: right; }
.ex-table textarea { min-width: 510px; }
.ex-table .label-inverse { color: #f8f8f2; }
.ex-table .hero-unit { border-radius: 0; }
.ex-table .control-group { margin-bottom: 0; }
.ex-table .control-group label { font-weight: bold; }
.ex-table .control-group .help-block { font-weight: bold; }

.ex-table .head td { padding-top: 0; padding-bottom: 0; }
.ex-table .head label { float: right; margin-bottom: 0; }
.ex-table .head label input { margin-top: 0; }
.ex-table .remove { float: right; }
.ex-table .remove i { margin-top: 3px; }

.ex-table-main {  }
.ex-table-list {  }
.ex-table-view {  }
.ex-table-view tbody tr:nth-child(2) td { border-top: 0; }
.ex-table-inline {  }

/*editview save/delete buttons*/
#controls { text-align: right; }
#controls .btn-danger { float: left; }

/*chosen*/
.chzn-container { font-size: 14px; }
.chzn-container .chzn-single { height: 28px; }
.chzn-container .chzn-single span { line-height: 28px; }
.chzn-drop .chzn-search input { height: 30px; }

/*single*/
.chzn-container-single .chzn-single {
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;}
.chzn-container-single .chzn-single abbr { top: 8px; }
.chzn-container-single .chzn-single div b { background-position: 0 2px; }
/*active*/
.chzn-container-active .chzn-single {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;}
.chzn-container-active .chzn-single-with-drop { border-radius: 4px 4px 0px 0px; }
/*error*/
.error .chzn-container .chzn-single span { color: #B94A48; }
.error .chzn-container .chzn-single {
	border-color: #B94A48;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.error .chzn-container-active .chzn-single-with-drop {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;}

/*multiple*/
.chzn-container-multi .chzn-choices {
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;}
/*active*/
.chzn-container-multi.chzn-container-active .chzn-choices {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;}
/*.chzn-container-multi.chzn-container-active .chzn-choices { border-radius: 4px 4px 0px 0px; }*/
/*error*/
.error .chzn-container-multi .chzn-choices {
	border-color: #B94A48;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.error .chzn-container-multi.chzn-container-active .chzn-choices {
	border-color: #B94A48;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;}

/*sticky footer*/
html, body { height: 100%; }
#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -30px; }
footer, #footer-push { height: 30px; text-align: center; }
footer p { margin-bottom: 0; }

/*custom scrollbars in WebKit*/
::-webkit-scrollbar {
	width: 13px;
}
::-webkit-scrollbar-track-piece {
	background: #333;
	-webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background: #bbb;
	-webkit-border-radius: 8px;
	outline: 2px solid #333;
	outline-offset: -2px;
	border: 2px solid #333;
}
::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #ddd;
	-webkit-border-radius: 8px;
}
