
@media (max-width: 900px) {
    #gw-nav { right: 1%; }
}

#code { display: inline-block; width: 100%; color: #4d4d4d !important; font-weight: bold; text-align: center; }

#gw-nav { position: fixed; top: 40px; right: 8%; z-index: 1; cursor: default; background: #f8f8f2; background: #eee; border-radius: 3px; padding: 3px; }
#gw-nav ul { list-style: none; margin: 0; }
#gw-nav > ul { background-color: #fff; border: 1px solid #CACACA; padding: 10px; }
#gw-nav li { font-size: 15px; line-height: 1.7; font-weight: bold; padding: 10px 0 0 0; }
#gw-nav li:before { content: ''; padding: 0; }
#gw-nav li:first-child { padding: 0; }
#gw-nav a { color: #4183c4; }
#gw-nav a:hover {  }
#gw-nav a.active { color: #d14; }
#gw-nav li ul { padding: 0 0 0 10px; }
#gw-nav li ul li { font-weight: normal; padding: 0; }
#gw-nav li ul li a { color: #999988; }
