
/*markdown-viewer*/
.markdown-body {
  overflow: auto;

  min-width: 200px;
  max-width: 728px;

  background-color: #fff;
  border: 1px solid #ddd;
  /*border-radius: 3px;*/

  padding: 30px;
  margin: 20px auto;
}
.markdown-body .file:first-child>*:first-child {
  margin-top: 0 !important;
}
.markdown-body .file:last-child>*:last-child {
  margin-bottom: 0 !important;
}
