
<h2><a href="#apache" name="apache">Apache</a></h2>

<!-- APACHE -->

<div class="box">
    <h4>Config</h4>
    <ul>
        <li>If some of your custom view's requests need to be handled by <em>Apache</em>, add this to the nginx vhost file

<!-- code -->
<pre><code class="language-bash"># apache
location /some-slug/ {
    proxy_pass http://127.0.0.1:8008/some-slug/;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
}</code></pre>
<!-- code -->

        </li>
        <li>Edit <em>/etc/apache2/ports.conf</em>

<!-- code -->
<pre><code class="language-bash"># When nginx is set as proxy
NameVirtualHost 127.0.0.1:8008
Listen 127.0.0.1:8008</code></pre>
<!-- code -->

        </li>
        <li>Create apache vhost

<!-- code -->
<pre><code class="language-bash">&lt;VirtualHost 127.0.0.1:8008&gt;
    ServerAdmin admin@localhost
    # apache's vhost name MUST MATCH the nginx's vhost name
    ServerName admin.example.com
    ServerAlias admin.example.com
    # some aliases etc.
    Alias /some-slug /path/to/some/dir
    &lt;Location /some-slug&gt;
        # some options ...
    &lt;/Location&gt;
    # log
    ErrorLog /var/log/apache2/admin-error.log
    CustomLog /var/log/apache2/admin-access.log combined
&lt;/VirtualHost&gt;</code></pre>
<!-- code -->
        </li>
    </ul>
</div>
