
<h2><a href="#scripts" name="scripts">Scripts</a></h2>

<!-- DEBUGGING -->

<div class="box">
    <h4>Debug</h4>
    <p>Debug the admin app as usual</p>
<!-- code -->
<pre><code class="language-bash">$ admin --debug-brk path/to/project/config/</code></pre>
<!-- code -->
    <p>or</p>
<!-- code -->
<pre><code class="language-bash">$ node --debug-brk path/to/express-admin/app path/to/project/config/</code></pre>
<!-- code -->
</div>

<!-- FOREVER -->

<div class="box">
    <h4>Forever</h4>
    <p>Run an admin instance continuously in the background using <a href="https://github.com/nodejitsu/forever" target="_blank">forever</a></p>
<!-- code -->
<pre><code class="language-bash">$ forever start path/to/express-admin/app path/to/project/config/</code></pre>
<!-- code -->

</div>

<!-- NODEMON -->

<!-- <div class="box">
    <h4>Nodemon</h4>
    <p>Restart the admin on file changed <a href="https://github.com/remy/nodemon" target="_blank">nodemon</a>.</p> -->
<!-- code -->
<!-- <pre><code class="language-bash">$ nodemon path/to/express-admin/app path/to/project/config/</code></pre> -->
<!-- code -->

<!-- </div> -->
