@font-face {
    font-family: 'octicons';
    src: url('../octicons/octicons.eot?#iefix') format('embedded-opentype'),
        url('../octicons/octicons.woff') format('woff'),
        url('../octicons/octicons.ttf') format('truetype'),
        url('../octicons/octicons.svg#octicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.octicon {
    font: normal normal 16px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.octicon-link:before { content: '\f05c'; }

.markdown-body .octicon-link {
    display: none;
    color: #000;
    vertical-align: middle;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    height: 1em;
    padding-left: 8px;
    margin-left: -30px;
    line-height: 1;
    text-decoration: none;
}
.markdown-body h1:hover .octicon-link,
.markdown-body h2:hover .octicon-link,
.markdown-body h3:hover .octicon-link,
.markdown-body h4:hover .octicon-link,
.markdown-body h5:hover .octicon-link,
.markdown-body h6:hover .octicon-link {
    display: inline-block;
}

/*doc*/

#navigation { position: fixed; top: 40px; right: 8%; z-index: 1; cursor: default; background: #f8f8f2; background: #eee; border-radius: 3px; padding: 3px; }
#navigation ul { list-style: none; }
#navigation > ul { background-color: #fff; border: 1px solid #CACACA; padding: 10px; margin: 0; }
#navigation li { font-size: 15px; line-height: 1.7; font-weight: bold; padding: 10px 0 0 0; }
#navigation li:before { content: ''; padding: 0; }
#navigation li:first-child { padding: 0; }
#navigation a { color: #4183c4; }
#navigation a:hover {  }
#navigation a.active { color: #d14; }
#navigation li ul { padding: 0 0 0 10px; }
#navigation li ul li { font-weight: normal; padding: 0; }
#navigation li ul li a { color: #999988; }

@media (max-width: 900px) {
    #forkme-badge { display: none; }
    #navigation { right: 1%; }
}

.example { width: 100%; border: 1px solid #ddd; border-radius: 3px; box-sizing: border-box; display: none; }
.example.one-to-many { height: 500px; }
.example.many-to-many { height: 460px; }
.example.many-to-one { height: 650px; }
.example.one-to-one { height: 650px; }
.example.custom-views-apps { height: 700px; }
.example.themes { height: 650px; }
.example.column { height: 650px; }

.file h1 { margin-top: 0; }
.file img { border: 1px solid #ddd; border-radius: 3px; }
