
<h2><a href="#custom-simple" name="settings">Custom Views</a></h2>

<!-- ABOUT -->

<div class="box visible">
    <h4>About</h4>
    <div class="info">
        <p>The admin's custom views follow the <a href="http://vimeo.com/56166857" target="_blank">Modular web applications with Node.js and Express</a> approach presented by <a href="https://github.com/visionmedia" target="_blank">TJ Holowaychuk</a>.</p>
        <p>The only difference here is that we're dealing with <em>mustache</em> templates.</p>
        <p>You should definitely run the examples from the <a href="https://github.com/simov/express-admin-examples" target="_blank">examples repository</a> as each of the custom views(apps) presented there are self documented.</p>
    </div>
</div>

<!-- CONFIG -->

<div class="box visible">
    <h4>Config</h4>
    <p>In <em>custom.json</em> create a unique key for your custom view</p>

<!-- code -->
<pre><code class="language-javascript">"unique-key-here": {
    "path"  : "/absolute/path/to/custom/app.js",
    "slug": "unique-slug",
    "verbose": "Verbose Name",
    "public": {
        "path": "/absolute/path/to/public-dir",
        "css": [
            "/relative/to/above/global.css"
        ],
        "js": [
            "/relative/to/above/global.js"
        ]
    },
    "mainview": {
        "show": true
    }
}</code></pre>
<!-- code -->

    <div class="info">
        <ul>
            <li><strong>path</strong> - is the absolute path to your custom <em>app.js</em> file</li>
            <li><strong>slug</strong> - this is the entry point for all other routes inside this app and it must be compleatly unique among all other slugs including: admin's, table's and other custom slugs</li>
            <li><strong>verbose</strong> - verbose name to use for this view inside the admin's UI</li>
            <li><strong>mainview</strong>
                <ul>
                    <li><i>show</i> - show or hide this custom view from the list of custom views inside admin's mainview</li>
                </ul>
            </li>
            <li><strong>public</strong> - information about static files
                <ul>
                    <li><i>path</i> - absolute path to the static files location</li>
                    <li><i>css</i> - list of stylesheet files to be included</li>
                    <li><i>js</i> - list of javascript files to be included</li>
                </ul>
            </li>
        </ul>
        <p>Take a look at the the <a href="https://github.com/simov/express-admin-examples" target="_blank">examples repository</a></p>
    </div>
</div>

<!-- CUSTOM APPLICATION -->

<div class="box visible">
    <h4>Custom application</h4>
    <p>This is the minimum required code for a custom view</p>

<!-- code -->
<pre><code class="language-javascript">var express = require('express');
var app = module.exports = express();
var path = require('path');

// set your custom views path
app.set('views', path.join(__dirname, 'views'));

app.get('/view1', function (req, res, next) {

    // create a realtive from the admin's view folder to your custom folder
    var relative = path.relative(res.locals._admin.views, app.get('views'));
    
    res.locals.partials = {

        // set the path to your templates like this
        // the content partial is declared inside the admin's base.html
        // this is the entry point for all your custom stuff
        content: path.join(relative, 'template')
    };

    // typically you want your stuff to be rendered inside the admin's UI
    // so no need to render here
    next();
});</code></pre>
<!-- code -->

    <p>Take a look at the the <a href="https://github.com/simov/express-admin-examples" target="_blank">examples repository</a></p>
</div>

<!-- ROUTE VARIABLES -->

<div class="box">
    <h4>Route wide variables</h4>
    <div class="col col1">
    <p>There are a few variables available inside each of your custom view's route callbacks</p>

<!-- code -->
<pre><code class="language-javascript"> // the content of the _admin variable
 // is for internal purposes only and is not being rendered
res.locals._admin.db.connection  // the admin's database connection can be reused from here
res.locals._admin.config         // the contents of the config.json file
res.locals._admin.settings       // the contents of the settings.json file
res.locals._admin.custom         // the contents of the custom.json file
res.locals._admin.users          // the contents of the users.json file

// shortcut variables that are being rendered
res.locals.libs       // list of all client side libraries
res.locals.themes     // list of all themes
res.locals.layouts    // flag indicating layouts button visibility
res.locals.languages  // list of all languages

// holds the absolute path to the admin's view directory
res.locals._admin.views</code></pre>
<!-- code -->
    
    <p>Take a look at the the <a href="https://github.com/simov/express-admin-examples" target="_blank">examples repository</a></p>
    </div>
</div>
