
<h2><a href="#all-together" name="all-together">All Together</a></h2>

<!-- SCHEMA -->

<div class="box visible">
    <h4>Schema</h4>

    <p>This table have multiple <em>One to Many</em> and <em>Many to Many</em> relationships.</p>

    <img src="images/all-together.png" alt="" />

    <p>The exact same table can have multiple <em>One to One</em> and <em>Many to One</em> relationships as well.</p>

    <img src="images/all-together2.png" alt="" />
    
    <p>The inlines <strong>are not recursive</strong>!</p>
    <p>Take a look at the <a href="#">examples repository</a>.</p>
</div>
