
<h2><a href="#about" name="about">Express Admin</a></h2>

<!-- ABOUT -->

<div class="box">
    <h4>About</h4>
    <p>Express Admin is a NodeJS tool for easy creation of user friendly administrative interface for MySQL databases.<br />
    It's built with: <a href="http://twitter.github.io/hogan.js/" target="_blank">Hogan.js</a> (<a href="https://github.com/janl/mustache.js" target="_blank">mustache.js</a>), <a href="http://expressjs.com/" target="_blank">Express</a>, <a href="https://github.com/felixge/node-mysql" target="_blank">mysql</a> and <a href="http://twitter.github.io/bootstrap/" target="_blank">Bootstrap</a>.</p>
    <p>The configuration is done through hand editing json files, although in the future there might be some sort of a GUI tool for that.</p>
</div>

<!-- FEATURES -->

<div class="box">
    <h4>Features</h4>
    <ul>
        <li>All types of sql table relationships</li>
        <li>Internationalization</li>
        <li>Custom views</li>
        <li>All kinds of browser side libraries and controls</li>
        <li>All themes from <a href="http://bootswatch.com/" target="_blank">Bootswatch</a></li>
    </ul>
</div>

<!-- RESOURCES -->

<div class="box">
    <h4>Resources</h4>
    <ul>
        <li><a href="http://www.youtube.com/watch?v=1CdoCB96QNk" target="_blank">Introductory Screencast</a></li>
        <li><a href="https://github.com/simov/express-admin" target="_blank">Express Admin's GitHub Repository</a></li>
        <li><a href="https://github.com/simov/express-admin-examples" target="_blank">Repository for all the examples</a></li>
        <li><a href="https://github.com/simov/express-admin-site" target="_blank">This site's repository</a></li>
        <li><a href="https://github.com/simov/express-admin/issues" target="_blank">Forum / Issue Tracker</a></li>
    </ul>
</div>
