
<h2><a href="#install" name="install">Install</a></h2>

<div class="box">
    <h4>Get the module</h4>
<!-- code -->
<pre><code class="language-javascript">$ [sudo] npm install -g express-admin</code></pre>
<!-- code -->
    <p>or</p>
<!-- code -->
<pre><code class="language-javascript">$ npm install express-admin</code></pre>
<!-- code -->
</div>

<div class="box">
    <h4>Create a Project <a href="#" class="btn-info">expand</a></h4>
    <p>Depending on how you installed it creating a project is as follows</p>
<!-- code -->
<pre><code class="language-javascript">$ admin path/to/config</code></pre>
<!-- code -->
    <p>or</p>
<!-- code -->
<pre><code class="language-javascript">$ node path/to/express-admin/app.js path/to/config</code></pre>
<!-- code -->
<p>Either way the config path should exist. If there isn't config files in it already you will be prompted to add some required information for your database, server port and admin account.</p>
<p>At this point you can navigate to <em>localhost:[specified port]</em> and see your admin up and running. The next thing is to configure it.</p>

    <div class="info">
        <p>The application settings are stored inside the <em>config.json</em> file. The <em>mysql</em> key accepts any option from the <em>node-mysql</em>'s <a href="https://github.com/felixge/node-mysql#connection-options" target="_blank">connection options</a>.</p>

<!-- code -->
<pre><code class="language-javascript">{
    "mysql": {
        "database": "express-admin-examples",
        "user": "liolio",
        "password": "karamba"
    },
    "server": {
        "port": 3000
    },
    "app": {
        "layouts": true,
        "themes": true,
        "languages": true
    }
}</code></pre>
<!-- code -->
    </div>
</div>
